In [1]:
import pandas as pd
import numpy as np

In [55]:
team_data = pd.read_csv('project_dataset.csv', na_values = '--')
team_data['T'].fillna(0, inplace=True)
team_data['OT'].fillna(0, inplace=True)
team_data['Cup'] = np.zeros(len(team_data))
team_data.iloc[684,24] = 1
team_data.iloc[174,24] = 1
team_data.iloc[614,24] = 1
team_data.iloc[609,24] = 1
team_data.iloc[593,24] = 1
team_data.iloc[687,24] = 1
team_data.iloc[550,24] = 1
team_data.iloc[545,24] = 1
team_data.iloc[153,24] = 1
team_data.iloc[311,24] = 1
team_data.iloc[163,24] = 1
team_data.iloc[328,24] = 1
team_data.iloc[56,24] = 1
team_data.iloc[150,24] = 1
team_data.iloc[552,24] = 1
team_data.iloc[255,24] = 1
team_data.iloc[3,24] = 1
team_data.iloc[125,24] = 1
team_data.iloc[628,24] = 1
team_data.iloc[411,24] = 1
team_data.iloc[244,24] = 1
team_data.iloc[179,24] = 1
team_data.iloc[404,24] = 1
team_data.iloc[227,24] = 1

In [56]:
team_data[(team_data['Team'] == 'Dallas Stars') & (team_data['Season End'] == 1998)]

Empty DataFrame
Columns: [Team, Season Start, Season End, GP, W, L, T, OT, P, P%, RW, ROW, S/O Win, GF, GA, GF/GP, GA/GP, PP%, PK%, Net PP%, Net PK%, Shots/GP, SA/GP, FOW%, Cup]
Index: []

[0 rows x 25 columns]